
#menu_text{
    background-color: aquamarine;
    padding:80px;
    text-align: center;    
    margin:0;
}

nav{
    background-color: black;
    overflow: hidden;
}

nav a{
    color:white;
    text-decoration: none;
    display:block;
    text-align: center;
    padding:14px 20px;
}

nav a:hover{
    background-color: aliceblue;
    color: brown;
}

.menu_left{
    float:left;
}

.menu_right{
    float:right;
}

table{
    border-style: solid;
}

table{
    border-collapse: collapse;
}

th, td{
    border: 1px solid #DDD;
    padding:8px;
}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: aquamarine;
    color: black;
}

tr:nth-child(even){background-color: rgb(158, 133, 133);}

tr:hover{background-color: #ddd;}

footer{
    background-color: black;
    padding:10px 20px;
    color: white;
    text-align: center;
}

footer a{
    color:white;
}

#flex_container{
    display: flex;
    flex-wrap: nowrap;
}

#left_side{
    flex:30%;
    background-color: bisque;
    padding: 12px 20px;
}

#right_side{
    flex:70%;
    padding: 12px 20px;
}

#course_container{
    display: flex;
    flex-wrap: wrap;
}

.course_item{
    text-align: center;
    flex:33%;
}

.course_img{
    width: 90%;
}

.course_title{
    font-size: 150%;
    font-weight: bold;
    padding: 10px 20px 5px 20px;
}

.course_desc{
    margin: 0px 20px 20px 20px;
}

@media(max-width:800px){
    #left_side{
        flex:100%;
    }
    #right_side{
        flex:100%;
    }
    #flex_container{
        flex-wrap: wrap;
    }
    .course_item{
        flex:50%;
    }
}

